h1{
    background-color: aqua;
}



.main{
    background-color: #176af1;
 }  
.main1{
    background-color: yellow;
}


.main3 {
    background-color: green;
}
.main4{
    background-color: greenyellow;
}  
.main5{
    background-color: rgb(226, 59, 245);
}
.main6{
    background-color: rgb(73, 21, 244);
}